.App {
  text-align: center;
  background-color: #e7e7e7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.carousel-pic {
  max-height: 700px;
}

.login-container {
  padding: 2%;
  text-align: justify !important;
}

.form-group {
  margin: 10px;
}

.advert {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  column-width: 100px;
  max-height: max-content;
  text-align: left;
  padding: 70px;
}

.footer {
  background-color: #40474e;
  text-align: left;
  padding: 55px 50px;
  display: inline-block;
  width: 100%;
  color: #ffffff;
}

.footer-links {
  color: #ffffff;
}

.footer-links:hover {
  text-decoration: none;
  color: rgba(97, 108, 254);
}

.footer-icons {
  margin-right: 10px;
}

.footer-icons:hover {
  color: #ffffff;
}

.facebook {
  color: #4968ad;
}

.twitter {
  color: #49a1eb;
}

.instagram {
  color: black;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
  background-color: #e7e7e7;
}

.cardListings {
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: .5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55rem;
  background-color: #e7e7e7;
}

.about-inner img {
  width: 100%;
  height: 800px;
}

.about-caption {
  width: 100%;
  height: 800px;
  position: absolute;
  top: 73px;
  z-index: 0;
  color: white;
  background-color: rgba(0,0,0,0.4);
  padding: 100px;
}

.about-caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 3rem;
}

.about-caption h3 {
  text-shadow: .1rem .1rem .5rem black;
  padding: 0 100px;
}

.header {
  margin: 0;
  padding: 10px;
}

.createAd {
  padding: 10px;
}

.userInfo-container h1{
  margin-top: 10px;
}

.userInfo-container h2{
  display: flex;
  margin-left: 20px;
}

.userInfo-container p{
  font-size: medium;
}